a{
	text-decoration:none;
	color:#000000;
}

*{
	font-family:sans-serif;
}

img.tweetimg{
	float:left;
	margin:5px;
	width:50px;
	height:50px;
	-moz-border-radius: 12px; /* FF1+ */
	  -webkit-border-radius: 12px; /* Saf3-4 */
	          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
}
div.tweet{
	background-color:#dddddd; /* 686868 */
	display:box;
	margin:20px;
	height:60px;
	width:610px;
	overflow:hidden;
	position:absolute;
	padding:5px;
	border:5px #F93E0D solid;
	-moz-border-radius: 12px; /* FF1+ */
	  -webkit-border-radius: 12px; /* Saf3-4 */
	          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
					             

}
a.twitter-anywhere-user{
	float:left;
	font-weight:bold;
}
div.tweet a.somelink{
	color:#ddaaaa;
}
a.hashtag{
	color:#ffaaaa;
}
.tweet span.timefield{
	float:right;
	font-style:italic;
}
.ttext{
	padding-top:20px;
}
#soon{
	font-size:42px;
	position:absolute;
	left:50%;
	top:50%;
}
#hashtag, #logo{
	display:none;
	position:absolute;
	right:20px;
	opacity:0;
}
#hashtag{
	bottom:30px;
	font-size:90px;
}
#logo{
	top:30px;
}