a{
	text-decoration:none;
	color:#000000;
}

*{
	font-family:sans-serif;
}
body{
	overflow:hidden;
}

img.tweetimg{
	float:left;
	margin:5px;
	margin-top:10px;
	width:50px;
	height:50px;
	-moz-border-radius: 12px; /* FF1+ */
	  -webkit-border-radius: 12px; /* Saf3-4 */
	          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
}
div.tweet{
	background-color:#ffffff; /* 686868 */
	display:box;
	margin:20px;
	height:70px;
	width:620px;
	overflow:hidden;
	position:absolute;
	font-size:14px;
	
	padding:5px;
	border:2px #F93E0D solid;
	-moz-border-radius: 12px; /* FF1+ */
	  -webkit-border-radius: 12px; /* Saf3-4 */
	          border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome */
					             

}
a.twitter-anywhere-user{
	float:left;
	font-weight:bold;
	color:#F93E0D;
}
div.tweet a.somelink{
	color:#686868;
}
a.hashtag, a.twittername{
	color:#F93E0D;
}
.tweet span.timefield{
	float:right;
	font-style:italic;
	color:#686868;
	font-size:13px;
}
.ttext{
	padding-top:25px;
}
#soon{
	font-size:52px;
	position:absolute;
	left:20%;
	color:#686868;
	top:20%;
	background-image:url('wait.png');
	background-repeat:no-repeat;
	height:500px;
	padding-top:100px;
}
#soon span{
	
	margin-left:300px;
}
#hashtag, #logo{
	display:none;
	position:absolute;
	right:20px;
	opacity:0;
}
#hashtag{
	bottom:30px;
	font-size:80px;
	color:#686868;
}
#logo{
	top:30px;
}